html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

/* Header styles */
html, body {
  height: 100%; /* Sayfanın tamamını kapsamasını sağla */
  margin: 0; /* Varsayılan margin'i kaldır */
}

/* Layout styles */
.container {
  display: flex;
  margin: 1.2rem;
  max-width: 72vw;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* Sidebar styles */
.sidebar {
  width: 25%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-item {
  margin-bottom: 15px;
}

.sidebar-item label {
  display: block;
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-item input[type="radio"]:checked+label {
  border-color: red;
  color: red;
}

.buy-button {
  width: 100%;
  background-color: GOLD;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
  transition: border-color 0.2s ease;
}

.button-6:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border: 2px solid gold;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.selected_btn {
  border: 2px solid gold;
}

.stickytry{
  position: fixed;
  width: 17%;
}

/* Main content styles */
.main-content {
  width: 75%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  border-left: 3px solid gold;
  flex: 1; /* Ana içeriğin esnek olmasını sağla */
  overflow-y: auto; /* İçerik taşarsa kaydırma çubuğu ekle */
}

.main-content img {
  display: flex;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.focus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  transition: border-color 0.2s ease;
}

.focus-item {
  border: 2px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 2%;
  transition: border-color 0.2s ease;
  /* height: auto; */
  /* height: 21.5rem; */
}
.ero__ort{
  min-height: 200px;
  
}
.focus-item.selected {
  border-color: gold;
}

.focus-item img {
  width: 100%;
  height: auto;
}

.sizes__title {
  text-align: center;
}

.sizes__desc {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: baseline;
}

.sizes__paragh {
  font-weight: 600;
}

.sizes__size {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.proButs {
  background-color: white;
  color: black;
  border-color: black;
 
}
.proButs:hover {
  background-color: gold;
  color: white;
  border-color: white;
}


#total__section {
  text-align: center;
}

.product__img {
  border-radius: 5%;
  min-height: 8rem;
}

.title__ort {
  height: 4.2rem;
  text-align: center;

}

.content__ort {
  max-height: 140px;
}


.focus-item, .button-6 {
  transform: translateZ(0);
  will-change: transform;
}
.category-container {
  margin-bottom: 30px;
}

#user-input-section {
  margin-bottom: 20px;
}

#user-input-section label {
  display: block;
  margin: 10px 0 5px;
}

#user-input-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#selected-products-section {
  margin-top: 20px;
}

#selected-products div {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#selected-products img {
  margin-right: 10px;
}
#sonuc__container {
  margin-top: 20px; /* Üstten biraz boşluk bırak */
}

.items-table {
  width: 100%;
  border-collapse: collapse;
}

.items-table th, .items-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.items-table th {
  background-color: #f2f2f2;
}
.left-side {
  flex: 1;
  margin-right: 20px;
}

.right-side {
  flex: 2;
}
.category-section {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.sonuc__details, .sonuc__details summary{
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.left-side .product-item .product-image{
  width: 15rem;
}